body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 20px;
  margin: auto;
}

.title,
.content,
.button-container {
  padding: 10px;
  margin: 10px;
}